@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

a:link,
a:visited {
    color: #8FBCBB;
    text-decoration: none;
    font-weight: 500;
}

.italic {
    font-style: italic;
}

#container,
#hero-section,
#content {
    display: flex;
    min-height: 100vh;
}


#hero-section {
    min-width: 33vw;
    background-image: url('../img/hero-0.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
    color: #ECEFF4;
    font-weight: 500;
}

#tag-wrapper {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 30px;
    font-size: 2.5rem;
    background-color: rgba(76, 86, 106, 0.713);
    border-radius: 12px;
}

#tag-wrapper > img {
    width: 45px;
}

#hero-tag {
    display: flex;
    justify-content: center;
    flex: 1;
}

#hero-footer {
    align-self: center;
    padding: 10px 20px;
    background-color: rgba(76, 86, 106, 0.783);
    border-radius: 12px;
    margin-bottom: 30px;
}

#content {
    flex-direction: column;
    background-color: #eceff4;
    font-size: 1.4rem;
    color: #434C5E;
}

#content > div {
    padding: 50px 30% 50px 100px;
}

#call-to-action {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form-wrapper {
    background-color: #D8DEE9;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form > p {
    width: 100%;
}

.input-field {
    width: 50%;
}

.input-field > label {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    filter: opacity(0.8);
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.input-field > input {
    /* appearance: none; */
    /* -webkit-appearance: none; */
    line-height: 1.8rem;
    width: 80%;
    /* border: 1px solid #eceff4; */
    /* border-radius: 4px; */
}

#submit-section > button {
    background-color: #8FBCBB;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #ECEFF4;
    font-size: 1rem;
    font-weight: 500;
}

#submit-section > p {
    margin-top: 20px;
    font-size: 1.2rem;
}
