@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

a:link,
a:visited {
    color: #8FBCBB;
    text-decoration: none;
    font-weight: 500;
}

.italic {
    font-style: italic;
}

#container,
#hero-section,
#content {
    display: flex;
    min-height: 100vh;
}


#hero-section {
    min-width: 33vw;
    background-image: url('../img/hero-0.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
    color: #ECEFF4;
    font-weight: 500;
}

#tag-wrapper {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 30px;
    font-size: 2.5rem;
    background-color: rgba(76, 86, 106, 0.713);
    border-radius: 12px;
}

#tag-wrapper > img {
    width: 45px;
}

#hero-tag {
    display: flex;
    justify-content: center;
    flex: 1;
}

#hero-footer {
    align-self: center;
    padding: 10px 20px;
    background-color: rgba(76, 86, 106, 0.783);
    border-radius: 12px;
    margin-bottom: 30px;
}

#content {
    flex-direction: column;
    background-color: #eceff4;
    font-size: 1.4rem;
    color: #434C5E;
}

#content > div {
    padding-left: 50px;
    padding-right: 30%;
}

#call-to-action {
    margin: 100px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form-wrapper {
    background-color: #D8DEE9;
    padding: 25px 0 50px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

#form-instructions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#all-required {
    text-align: center;
    background-color: #4c566a;
    color: #eceff4;
    font-size: 0.9rem;
    padding: 5px 7px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.input-field {
    margin-top: 7px;
    width: 50%;
}

.input-field > label {
    /* margin-top: 28px; */
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    filter: opacity(0.8);
    font-size: 0.8rem;
    line-height: 1.8rem;
}

.input-field > input {
    font-family: inherit;
    color: #434c5e;
    font-size: 1rem;
    line-height: 2rem;
    width: 60%;
    border: 1px solid #4c566a;
    border-radius: 4px;
    padding: 0 30px 0 10px;
}

.input-field > input:focus {
    outline: 2px solid #5e81ac;
    border-color: #5e81ac;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.input-field > input::placeholder {
    font-weight: 300;
}

input.valid {
    background-image: url('../img/check-circle.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 98%;
}

input.invalid {
    background-image: url('../img/alert-circle.svg');
    background-size: 20px;
    background-repeat:no-repeat;
    background-position: 98%;
}

input.invalid:focus {
    outline: 2px solid #bf616a;
    border-color: #bf616a;
}

input.valid:focus {
    outline: 2px solid #8fbcbb;
    border-color: #8fbcbb;
}

div.validation-message {
    height: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #BF616A;
}
/* input:valid:focus {
    outline: 2px solid #8fbcbb;
    border-color: #8fbcbb;
}

input:invalid:focus {
    outline: 2px solid #bf616a;
    border-color: #bf616a;
} */

/* input:valid + span::after {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    background-image: url('../img/check-circle.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    top: 7px;
    right: 58px;
}

input:invalid + span::after {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    background-image: url(../img/alert-circle.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    top: 7px;
    right: 58px;
} */

#submit-section > button {
    margin-top: 25px;
    background-color: #8FBCBB;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #ECEFF4;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


#submit-section > p {
    margin-top: 20px;
    font-size: 1.2rem;
}
